@font-face {
    font-family: 'Uto123RF';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/uto123RF/Uto123RF.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/uto123RF/Uto123RF.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/uto123RF/Uto123RF.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/uto123RF/Uto123RF.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/uto123RF/Uto123RF.ttf') format("truetype");
    font-display: swap;
}